<h1>STUPID COACHING</h1>

<!-- <form  action="/answer" method="get" style="display: flex; justify-content: center;">
  <input type="text" name="user_question" placeholder="Tell me something champ'">
  <input type="submit" value="Ask Coach John 🎤">
</form>
 -->
<h2 > <%= @question_ask  %> <h2>
<h2> <%= @answer  %> <h2>

  <a href="/ask" class="btn">Another question champ' ? 🚀</a>
