
<div class="form">
<form  action="/answer" method="get">
  <p>Ask your coach anything</p>
  <input class="input_user" type="text" name="question" placeholder="Tell me something champ'">
  <input class="input-btn"  type="submit" value="Ask Coach John 🎤">
</form>
</div>

